.bgcarrosel{
    /* background-size: cover; faz a imagem cobrir toda a tela */
    background-color: rgb(250, 250, 250);
    background-size: cover; 
    height: 280px;
}

.bgmeta_leitura{
    /* background-size: cover; faz a imagem cobrir toda a tela */
    background-size: cover; 
}
.footer{
    margin-top: 50px;
    background-color: #7ab8e4;
    color:#333;
    background-size: cover; 
}
.end-page{
    background-color: rgb(255, 255, 255);
    padding: 8px;
}